@import "../../styles/styles.scss";

.wrapper {
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  user-select: none;
  font-family: 'Rubik', sans-serif;
  background-color: lighten($body-bg-light, 10%);
  color: darken($body-text-light, 20%);
  transition: all 0.5s ease-in-out;
  padding: 50px;
  @media (max-width: $widht-medium) {
    font-size: 14px;
  }
  @media (max-width: $widht-large) {
    padding: 30px;
  }
  @media (max-width: $widht-medium) {
    padding: 15px;
  }
  @media (max-width: $widht-small) {
    padding: 10px;
  }

  &.dark{
    background-color: darken($body-bg-dark, 30%);
    color: $body-text-dark;
  }
}

