@import '../../styles/styles.scss';

.header {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;

  img{
    width: 50px;
  }
}
@media (max-width: 700px) {
  .header {
    padding-bottom: 15px;
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .header {
    padding-bottom: 12px;
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .header {
    padding-bottom: 10px;
    font-size: 18px;
  }
}
